body,
html {
	height: 100%;
	margin: 0;
}

div {
	height: 100%;
	width: 50%;
	position: fixed;
	overflow-x: hidden;
	top: 0;
}

#light {
	left: 0;
}

#light canvas {
	background-color: LightCyan;
}

#dark {
	right: 0;
}

#dark canvas {
	background-color: MidnightBlue;
}
